#encoding:utf-8
<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
        </section>
      <section>
          <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_from' %>
        </section>
      </aside>
    <div class="span8">
      <h3>发布的微博</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
<% provide(:title) %>
<div class="center hero-unit">
<h1>Twitter?</h1>
<p>在特色社会主义背景下，上不去推特吗？</p>
<p>这里就可以，这个是另一个推特，新建立的.</p>
<p>还没有纳入GFW的视线，在这里可以随性而为！</p>
  <%= link_to "现在登录", signin_path, class: "btn btn-large btn-primary" %>
</div>
<%= link_to image_tag("rails.png", alt: "Rails"),'http://rubyonrails.org/' %><% end %>
